body {background-color:#659dbd;
}

nav {
    border: 2px solid black;
}

p {color:#000000;
}

h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-family: sans-serif;
    color: #000000;
}

p {
    line-height: 2.5;
}

img {
    border: 5px solid black; 
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    margin-left: 50px;
}

nav a {
    background-color: yellow;
    padding: 1px;
    margin: 20px;
}

a {
    text-align: underline;
    border: solid blue;
}

#skip {
    text-transform: uppercase;
}

.thumbnail {
    border: 20px solid blue;
    padding: 20px;
    margin: auto;
    width: 250px;
    display: block;
    border-radius: 25px;
}

/* #skip{
    position: absolute;
    left: -500px;
}

#skip:focus{
    left: 400px;
} */